.row {
  justify-content: center;
}

.single-item {
  padding: 50px;
  background-color: #e6e6e4;
  margin: 25px auto;
  text-align: center;
  box-shadow: 0 0px 16px 1px;
  border-radius: 25px;
  justify-content: center;
}

.item-title {
  font-size: 2em;
  padding: 20px;
}

.item-description {
  font-style: italic;
  font-size: 1.25em;
  padding: 25px;
  width: 100%;
}

.item-image {
  width: auto;
  max-height: 350px;
}

.item-price {
  margin-top: 25px;
  width: 100%;
}

.alert-heading {
  margin-top: 25px;
  font-size: 2.5em;
  padding: 15px;
  color: green;
  text-align: center;
}

.item-input {
  width: 50%;
  display: block;
  margin: 25px;
}

.item-is-purchased {
  margin: 100px 25px 50px;
}

.item-is-purchased button {
  padding: 25px;
  margin: 15px;
}

.item-submit {
  margin: 50px;
}
