html {
  scroll-behavior: smooth;
}

.row {
  justify-content: center;
}

.single-item {
  padding: 50px;
  background-color: #e6e6e4;
  margin: 25px auto;
  text-align: center;
  box-shadow: 0 0px 16px 1px;
  border-radius: 25px;
  justify-content: center;
}

.item-heading {
  margin-bottom: 25px;
}

#example-collapse-text {
  margin: 10px;
  font-style: italic;
}

.item-title {
  font-size: 2em;
  padding: 20px;
}

.item-image {
  width: auto;
}

.item-price {
  width: 100%;
}

.item-price span {
  margin: 25px 0;
  font-size: 2.5em;
  font-weight: bold;
}

.item-input {
  display: block;
  margin: 25px;
}

.item-is-purchased .btn {
  width: 100%;
  margin-bottom: 25px;
}

.item-submit {
  margin: 50px;
}

.item-details button {
  width: 100%;
}

.item-input-form {
  max-width: 600px;
  margin: 0 auto;
}

input[type=checkbox]
{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin-bottom: 15px;
}

input[type="text"]
{
    font-size:1.5em;
    height: 75px;
}

.checkbox-label {
  margin-left: 10px;
  font-size: 1.25em;
}


.card-field {
  width: 100%;
}
