.blog-footer {
  padding: 2.5rem 0;
  color: white;
  text-align: center;
  background-color: #B7A075;
  border-top: .05rem solid #e5e5e5;
  width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 15px;
  font-weight: bolder;
}
