@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login {
  min-height: 75vh;
  margin-top: 50px;
}

.password-reset {
  margin-bottom: 15px;
  display: block;
  font-size: 1em;
}

.login-btn {
  padding: 10px;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.login-btn a {
  color: white;
}
