@media all and (min-width: 480px) {
  .resetPassword {
    padding: 60px 0;
  }

  .resetPassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .resetPassword .success {
    max-width: 400px;
  }
}

.resetPassword {
  min-height: 75vh;
  margin-top: 50px;
}

.resetPassword .success {
  margin: 0 auto;
  text-align: center;
}
