.banner-img {
  background-color: #dadada;
  border: 0;
  height: 85vh;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-image: url('./banner.jpg');
}

.jss98 {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.jss1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 75%;
    font-family: sans;
    font-weight: bolder;
}

.jss99 {
    width: 100%;
    position: relative;
    flex-basis: auto;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.jss2 {
    color: #FFFFFF;
    text-align: left;
}

.jss3 {
    display: inline-block;
    position: relative;
    font-size: 4.2rem;
    font-weight: 600;
    color: inherit;
}

.jss4 {
    margin: 10px 0 0;
    font-size: 1.313rem;
    max-width: 500px;
    color: inherit;
}
